cadastro{
    ion-content {
        background-color:#283523;
        #logo{ 
            padding-top: 5% !important;                 
            width: 120px !important; 
            height: auto !important           
        }
    }
}