inicio {
    #bg {
        background-color:#fffbdd;
    }
    
    #logo{
        padding-top: 5%;
    }

    #frase{
        margin-top: 20%;
        margin: 5%;
        .slogan{
            color: color($colors, secondary);
            text-transform: uppercase
        }
        h1{
            font-weight: bold;
            color: color($colors, primary-text)
        }
        p{
            color: color($colors, primary-text)
        }
    }
}
